<div class="error-404-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content-area"><!-- left content area -->
                    <div class="img-wrapper">
                        <img src="/img/404.jpg" alt="404 error page">
                    </div>
                </div><!-- //. left content area -->
            </div>
            <div class="col-lg-6">
                <div class="right-content-area"><!-- right content area -->
                    <h3 class="title">500</h3>
                    <span class="details">Internal Server Error</span>
                    <div class="btn-wrapper">
                        <a href="/" class="boxed-btn">go back home</a>
                    </div>
                </div><!-- //. right content area -->
            </div>
        </div>
    </div>
</div>
